@import "nullstyle.scss";
$color_1:red;
.text{
    font-size: 100px;
    p{
        color: $color_1;
    }
}

.link{
    color: $color_1;
    font-size: 30px;
    &:hover{
        color: green;
    }
}